* text=auto
.* text eol=lf

/public                 export-ignore
/tests                  export-ignore
/.gitattributes         export-ignore
/.gitignore             export-ignore
/docker-compose.yaml    export-ignore
/Makefile               export-ignore
/phpunit.xml            export-ignore
